body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 2%;
}
.container-fluid {
}
.virus {
  width: 25rem;
  height: auto;
  margin-bottom: 2%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchBar {
  font-family: "Heebo", sans-serif;
  height: 2rem;
  font-size: 1.5rem;
  padding-left: 10px;
  margin: 50px 0;
  border-radius: 0.5rem;
  &:focus {
    outline: none;
  }
}
.title {
  /* font-family: "Bodoni Moda", serif;
   */
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  /* max-width: 800px; */
}
/* input {
  height: 2rem;
  font-size: 1.5rem;
  padding-left: 10px;
}
 */
/* form {
  display: block;
  left: 50%;
  position: absolute;
  top: 30%;
  input[type="search"] {
    border: solid 3px #fff;
    box-sizing: border-box;
    font-size: 2em;
    height: 2em;
    margin-left: -15vw;
    outline: solid #fc0 0;
    padding: 0.5em;
    transition: all 2s ease-in;
    width: 30vw;
    z-index: 1;
    &:focus {
      border: solid 3px #09f;
      outline: solid #fc0 2000px;
    }
  }
}
 */

.countries {
  font-family: "Heebo", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .name {
    /* border: 2px solid #d4b5b0; */
    background-color: whitesmoke;
    border-radius: 12%;
    width: 15rem;
    height: 14rem;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    &:hover {
      background-color: #dddddd;
    }
    h3 {
      padding: 10px;
      font-weight: bold;
      text-align: center;
    }
    p {
      margin: 0;
      padding-left: 10px;
      font-weight: 600;
    }
  }
}
